
body{
    background-image: url(/media/random/materialdictionary178_123.jpg);
    font-family: 'Times New Roman', Times, serif;
}
/*couleur du titre 1*/
h1 {
    color:chocolate
}
/*background et couleurs des titres*/
h2,h3 {color:rgb(99, 232, 188);
    background-color:cyan;

}
/*couleur du text*/
p{color:#7C3EFF}
/*premier text*/
#bienvenue {
    border: 1px dashed rgb(255, 200, 25);
    background-color: aqua;
}
/*encadrer*/
.important {border: 2px solid blue;

}
/* strong est modifié seulement dans important*/
.important > strong {
    text-decoration: underline wavy;
    color: aqua;
    font-style: italic;
}
h2 { text-align: right}


 
h1 { text-align:center}
#id1 {
    border: solid white 
}
.important > strong{
    text-decoration: underline slateblue;
}
.lolgamer{
    background-color: aqua;
}
.toomuchaura{
    background-color: aliceblue;
}
.cantswim{
    background-color: blueviolet;
}