body{
    background-image: url(/media/random/wp13908391-frutiger-aero-wallpapers.jpg);
    font-family: 'monospace', monospace, serif;
}
p{color:#7C3EFF}
h1{color:#7C3EFF}
h1
{
  writing-mode: vertical-rl;
}