body{
        background-image: url(media/page1/eaglebackg.jpg);
        background-size: 1000px 1000px;
}

/*couleur du text*/
p{color:white}
/*premier text*/
#characterselect {
    display: flex;/*s'adapte*/
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}


.small {
    width: 100px;
    cursor: pointer;/*modifie le curseur quand il est sur image*/
    border: 10px solid crimson;

}
#preview-text {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;

    /* pour garder la même hauteur même si le texte change */
    min-height: 40px;
}

#preview {
       /* cachée par défaut */
    width: 500px;
    height: 500px;
    display: block;
    margin: 20px auto;
   /* border: 2px solid yellowgreen;*/
    object-fit: contain;  /* img recadrée */
    visibility: hidden;   /* rien d'affiché et le cadre reste */

    
}


body {
    /*border: solid 1px yellowgreen; */
    max-width:800px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}
h1{
    text-align: center;
}
