body{
        background-image: url(/media/page1/eaglebackg.jpg);
        background-size: 1000px 1000px;
}

/*couleur du text*/
p{color:white}
/*premier text*/
#characterselect {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}


.small {
    width: 100px;
    cursor: pointer;
    border: 2px solid aqua;
}

#preview {
       /* cachée par défaut */
    width: 600px;
    height: 600px;
    display: block;
    margin: 20px auto;
   /* border: 2px solid yellowgreen;*/
    object-fit: contain;  /* Important : garde les proportions de l'image */
    visibility: hidden;   /* L’image est invisible, mais l’espace reste */

    
}


body {
    /*border: solid 1px yellowgreen; */
    max-width:800px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}
h1{
    text-align: center;
}
